
.DS_Store

*.class

*.mf

*.form

TPIntegrador/nbproject/project.properties

*.properties

*.xml

TPIntegrador/build/classes/.netbeans_update_resources

TPIntegrador/build/classes/.netbeans_automatic_build

TPIntegrador/build/classes/img/
